* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    background: gainsboro;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2rem ;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    color: rgb(166, 255, 0);
}

.toggle {
    display: none;
    color: rgb(166, 255, 0);
}
    
.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 500px;
    
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.prenom {
    font-family: sans-serif;
    display: block;
    margin-left: 50px;
    top: 30%;
    font-size: 20px;
    color: rgb(166, 255, 0);
}

.container {
    margin-top: 60px;
}

.texte1 {
    /*position: absolute;
    display: block;*/
    margin-top: 20px;
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 18px;
    color: #1E0F1C;
}

.texte2 {
    margin-top: 20px;
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 18px;
    color: #1E0F1C;
}

.titre1 {
    color: #A7001E;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}

.titre2 {
    color: #A7001E;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}

.titre3 {
    color: #A7001E;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}

.texte3 {
    margin-top: 20px;
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 18px;
    color: #1E0F1C;
}

.texte4 {
    margin-top: 20px;
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 18px;
    color: #1E0F1C;
}


.wallpaper_title { 
    background-position: center;
    background-image: url(img/code.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    margin-bottom: 10px; 
    color: #E6E7E4;
}

.title {
    margin-top: 40px;
    margin-left: 45%;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #E6E7E4;
}

.image {
    display: block;
    position: relative;
    margin-left: 20px;
    margin-top: 50px;
}

.textbord {
    position:relative;
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 20px;
    margin-left: 1000px;
    margin-top: -280px;
    margin-bottom: 20px;
    width: 400px;
    height: 300px;
    font-family: sans-serif;
    font-size: 18px;
    color: #1E0F1C;
}

.texte5{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-position : outside;
}

.pearltree {
    margin-top: 20px;
    margin-left: 300px;
}

@media all and (max-width: 991px) {

    header {
        background: transparent;
    }
    .title{
        position: absolute;
        display: block;
        margin-left: 40%;
    }
    
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        margin-left: auto;
        color: #000;
    }

    .logo {
        position: relative;
        z-index: 20;
        color: #000
    }

    .prenom {
        color: #000;
    }

    .ouvrir {
        display: block;
    }
    
    .fermer {
        display: none;
    }
        
    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
    .text {
        position: absolute;
        display: block;
        margin-left: 50%;
    }
}